@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;

@{
    Layout = "_Layout";
    ViewData["Title"] = "Self Service - Refeições";
    
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Satisfy|Bree+Serif|Candal|PT+Sans">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">

}
<nav class="navbar navbar-default navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Menu</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Painel de controle<span class="sr-only">(current)</span></a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Funcionalidades <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/Alimento">Adicionar alimento</a></li>
                        <li><a href="/TabelaNutricional">Tabela nutricional</a></li>
                        <li><a href="/Relatorio">Relatório de consumo</a></li>
                        <li><a href="/CalculoBasal">Cálculo basal</a></li>
                        <li><a href="/Refeicao">Buscar refeição</a></li>
                        @*<li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">One more separated link</a></li>*@
                    </ul>
                </li>
                <li>
                    <a href="/logout">Logout</a>
                </li>
            </ul>
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Pesquisar">
                </div>
                <button type="submit" class="btn btn-default">Enviar</button>
            </form>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container">
    <h2>Refeições</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome do Prato</th>
                <th scope="col">Quantidade(g)</th>
                <th scope="col">Calorias</th>
                <th scope="col">Fibra(g)</th>
                <th scope="col">Ferro(mg)</th>
                <th scope="col">Potassio(mg)</th>
                <th scope="col">Zinco(mg)</th>
                <th scope="col">Carboidrato(g)</th>
                <th scope="col">Fosforo(mg)</th>
                <th scope="col">Sodio</th>
                <th scope="col">Proteína(g)</th>
                <th scope="col">Lipídio(g)</th>
                <th scope="col">Categoria</th>

            </tr>
        </thead>
        <tbody id="alimentos">
            @foreach (var prato in ViewBag.Pratos)
            {
                var alimentos = prato.Alimentos;
                var somaQuantidade = 0;
                var somaCalorias = 0;
                var somaFibra = 0;
                var somaFerro = 0;
                var somaPotassio = 0;
                var somaZinco = 0;
                var somaCarboidrato = 0;
                var somaFosforo = 0;
                var somaSodio = 0;
                var somaProteina = 0;
                var somaLipidio = 0;
                foreach (var alimento in alimentos)
                {
                    somaQuantidade += alimento.Comida.QuantidadeBase;
                    somaCalorias += alimento.Comida.QuantidadeCalorias;
                    somaFibra += alimento.Comida.QuantidadeFibra;
                    somaFerro += alimento.Comida.QuantidadeFerro;
                    somaPotassio += alimento.Comida.QuantidadePotassio;
                    somaZinco += alimento.Comida.QuantidadeZinco;
                    somaCarboidrato += alimento.Comida.QuantidadeCarboidrato;
                    somaFosforo += alimento.Comida.QuantidadeFosforo;
                    somaSodio += alimento.Comida.QuantidadeSodio;
                    somaProteina += alimento.Comida.QuantidadeProteina;
                    somaLipidio += alimento.Comida.QuantidadeLipidio;
                }

                <tr>
                    <td>@prato.PratoId</td>
                    <td>@prato.NomePrato</td>
                    <td>@somaQuantidade</td>
                    <td>@string.Format("{0:0.00}", somaCalorias)</td>
                    <td>@string.Format("{0:0.00}", somaFibra)</td>
                    <td>@string.Format("{0:0.00}", somaFerro)</td>
                    <td>@string.Format("{0:0.00}", somaPotassio)</td>
                    <td>@string.Format("{0:0.00}", somaZinco)</td>
                    <td>@string.Format("{0:0.00}", somaCarboidrato)</td>
                    <td>@string.Format("{0:0.00}", somaFosforo)</td>
                    <td>@string.Format("{0:0.00}", somaSodio)</td>
                    <td>@string.Format("{0:0.00}", somaProteina)</td>
                    <td>@string.Format("{0:0.00}", somaLipidio)</td>
                    @if (prato.Categoria != null)
                    {
                        <td>
                            @prato.Categoria.Nome
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }

                </tr>
            }
        </tbody>
    </table>


</div>


@section Scripts{
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
}